.update-city-container {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(212, 195, 195);
  }
  
  /* Input style */
  .update-city-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /* Button style */
  .update-city-button {
    background-color: #2196f3; /* Blue background color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .update-city-button:hover {
    background-color: #0b7dda; /* Darker blue on hover */
  }